CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
# Following option is only applicable for esp32
CONFIG_ESP_SYSTEM_ESP32_SRAM1_REGION_AS_IRAM=y
